*{
    padding:0%;
    margin:0;
    box-sizing: border-box;
}

body{
    width:100%;
    height:100vh;
    display: flex;
    justify-content:center;
    align-items: center;

    background-image: conic-gradient(from 63deg, #cea0a0 53deg 38deg, #252424 48deg 180deg, #e8a1a1 180deg 233deg, #886b6b 138deg 360deg);
    perspective: 500px;
    /* perspective-origin: top; */
    transform-style: preserve-3d;

    
}

.frame{
    position:relative;
    width: 400px;
    height: 200px;
    background: url('/scene.jpeg');
    background-size:cover;

}

.window-slider{
    position:absolute;
    width: 100%;
    height: 100%;
    /* background-color: white; */
    backdrop-filter: blur(20px);
    border-bottom: 10px solid white;
    transition: all 5s ease;
    cursor: pointer;
}


.window-slider:hover{
    backdrop-filter: blur(0);
    height: 0%;
}

.shelf{
    position:relative;
    transform-style: preserve-3d;
    transform: translateX(-700px) translateY(-70px) rotateY(90deg)
    

}

.shelf .side{
    position:absolute;
    width: 500px;
    height: 350px;
    border: 2px solid rgb(70, 69, 69);
    background-color: rgb(214, 127, 39);
    box-shadow: inset 0px 0px 10px 2px rgb(80, 77, 77);


}

.shelf .side.right{
    /* background-color: white; */
    width: 50px;
    transform: translateX(475px) translateZ(-25px) rotateY(90deg);
}

.shelf .side.left{
    /* background-color: white; */
    width: 50px;
    transform: translateX(-25px) translateZ(-25px) rotateY(90deg);
}

.shelf .back{
    /* background-color: white; */
    /* width: 50px; */
    transform: translateZ(-50px);
}

.shelf .side.bottom{
    /* background-color: white; */
    width: 50px;
    height: 500px;
    transform: translateZ(-25px) translateY(100px) translateX(225px) rotateY(90deg) rotateX(90deg);
}

.shelf .side.top{
    /* background-color: white; */
    width: 50px;
    height: 500px;
    transform: translateZ(-25px) translateY(-250px) translateX(225px) rotateY(90deg) rotateX(90deg);
}


.door
{
    position:absolute;
    width: 250px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.25);
    border: 2px solid rgba(17, 12, 12);
}

.door.right
{
    transform: translateX(250px);
    animation: animate-door 5s ease-in-out infinite;
}

.door.left::after{
    content:'';
    width: 10px;
    height:10px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid rgba(17, 12, 12);
    margin-top: 175px;
    margin-right: 180px;
    position: absolute;
    box-shadow: 0px 0px 2px 2px black;
}

.door.right::before{
    content:'';
    width: 10px;
    height:10px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid rgba(17, 12, 12);
    margin-top: 175px;
    margin-left: 15px;
    position: absolute;
    box-shadow: 0px 0px 2px 2px black;
}


.shelf .rack.top{
    position:absolute;
    background-color: white;
    width: 50px;
    height: 500px;
    transform: translateZ(-25px) translateY(-150px) translateX(225px) rotateY(90deg) rotateX(90deg)
}


.shelf .rack.bottom{
    position:absolute;
    background-color: white;
    width: 50px;
    height: 500px;
    transform: translateZ(-25px) translateY(-50px) translateX(225px) rotateY(90deg) rotateX(90deg)
}

@keyframes animate-door{
    50%{
        transform: translateX(50px);
    }
}


.text{
    position:absolute;
    color: white;
    transform: translateZ(350px) translateY(-50px) rotateX(45deg);
    background-color: white;
    padding: 10px 10px 5px 10px;
    text-shadow: 1px 1px 1px #181717,
                1px 2px 2px #181717,
                1px 3px 3px #181717,
                1px 4px 4px #181717,
                1px 5px 5px #181717,
                1px 6px 6px #181717,
                1px 7px 7px #181717,
                1px 8px 8px #181717,
                1px 9px 9px #181717;
    box-shadow: 1px 1px 1px #181717;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
}

.text:hover{
    transform: translateZ(370px) translateY(-50px) rotateX(30deg);
}